name: Build Java, Kotlin, Swift, and PklDoc Docker images
'on':
  push:
    branches:
    - main
    - develop
permissions:
  contents: write
jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.gitversion.outputs.semVer }}
      major: ${{ steps.gitversion.outputs.major }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v3.0.0
      with:
        versionSpec: 5.x
    - id: gitversion
      name: Use GitVersion
      uses: gittools/actions/gitversion/execute@v3.0.0
      with:
        useConfigFile: true
        configFilePath: ./gitversion.yml
    - name: Generate Job Summary
      run: |-
        echo "# Version Info
        Semantic Version: ${{ steps.gitversion.outputs.semVer }}" >> $GITHUB_STEP_SUMMARY
  release:
    permissions:
      contents: write
    needs:
    - version
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Create tag for release
      uses: rickstaa/action-create-tag@v1
      with:
        tag: v${{ needs.version.outputs.version }}
    - id: create_release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ needs.version.outputs.version }}
        name: Release ${{ needs.version.outputs.version }}
        prerelease: ${{ github.ref == 'refs/heads/develop' }}
  pkl-versions:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ env.versions }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: |-
        mapfile -t pklversions < "pkl-versions"
        json=$(jq -n -c --argjson arr "$(printf '%s
        ' "${pklversions[@]}" | jq -R . | jq -s .)" '{"version": $arr}')
        echo "versions=$(echo "$json")" >> ${GITHUB_ENV}
  was-updated-java:
    runs-on: ubuntu-latest
    outputs:
      any-changed: ${{ env.any_changed }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: |-
        if git diff --no-commit-id --name-only HEAD HEAD~1 | grep -Eq '(java/.*|templates/entrypoint.template.sh|pkl-versions|.github/workflows)'; then
            echo "any_changed=true" >> "$GITHUB_ENV"
        else
            echo "any_changed=false" >> "$GITHUB_ENV"
        fi
  was-updated-kotlin:
    runs-on: ubuntu-latest
    outputs:
      any-changed: ${{ env.any_changed }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: |-
        if git diff --no-commit-id --name-only HEAD HEAD~1 | grep -Eq '(kotlin/.*|templates/entrypoint.template.sh|pkl-versions|.github/workflows)'; then
            echo "any_changed=true" >> "$GITHUB_ENV"
        else
            echo "any_changed=false" >> "$GITHUB_ENV"
        fi
  was-updated-doc:
    runs-on: ubuntu-latest
    outputs:
      any-changed: ${{ env.any_changed }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: |-
        if git diff --no-commit-id --name-only HEAD HEAD~1 | grep -Eq '(doc/.*|templates/entrypoint.template.sh|pkl-versions|.github/workflows)'; then
            echo "any_changed=true" >> "$GITHUB_ENV"
        else
            echo "any_changed=false" >> "$GITHUB_ENV"
        fi
  was-updated-swift:
    runs-on: ubuntu-latest
    outputs:
      any-changed: ${{ env.any_changed }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: |-
        if git diff --no-commit-id --name-only HEAD HEAD~1 | grep -Eq '(swift/.*|templates/entrypoint.template.sh|pkl-versions|.github/workflows)'; then
            echo "any_changed=true" >> "$GITHUB_ENV"
        else
            echo "any_changed=false" >> "$GITHUB_ENV"
        fi
  was-updated-go:
    runs-on: ubuntu-latest
    outputs:
      any-changed: ${{ env.any_changed }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: |-
        if git diff --no-commit-id --name-only HEAD HEAD~1 | grep -Eq '(go/.*|templates/entrypoint.template.sh|pkl-versions|.github/workflows)'; then
            echo "any_changed=true" >> "$GITHUB_ENV"
        else
            echo "any_changed=false" >> "$GITHUB_ENV"
        fi
  build-java:
    permissions:
      contents: read
      packages: write
    needs:
    - version
    - pkl-versions
    - was-updated-java
    if: needs.was-updated-java.outputs.any-changed == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.pkl-versions.outputs.versions)}}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Render build.template.gradle
      env:
        pkl_version: ${{ matrix.version }}
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: java/project/build.template.gradle
        output-file: java/project/build.gradle
        engine: mustache
    - name: Render endpoint.sh
      env:
        call: java -cp /pklgen.jar org.pkl.codegen.java.Main
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: templates/entrypoint.template.sh
        output-file: java/entrypoint.sh
        engine: mustache
    - name: Make endpoint.sh executable
      run: chmod +x java/entrypoint.sh
    - name: Lowercase repository name
      env:
        REPOSITORY: ${{ github.repository }}
      run: echo "REPOSITORY_LC=${REPOSITORY,,}" >> ${GITHUB_ENV}
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: https://ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: java
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-java:${{ matrix.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-java:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-java:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-java:${{ matrix.version }}-${{ needs.version.outputs.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-java:${{ matrix.version }}-${{ needs.version.outputs.major }}
    - name: Build and push Docker image
      if: github.ref != 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: java
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-java:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-java:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-java:${{ matrix.version }}-${{ needs.version.outputs.version }}
  build-kotlin:
    permissions:
      contents: read
      packages: write
    needs:
    - version
    - pkl-versions
    - was-updated-kotlin
    if: needs.was-updated-kotlin.outputs.any-changed == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.pkl-versions.outputs.versions)}}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Render build.template.gradle
      env:
        pkl_version: ${{ matrix.version }}
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: kotlin/project/build.template.gradle
        output-file: kotlin/project/build.gradle
        engine: mustache
    - name: Render endpoint.sh
      env:
        call: java -cp /pklgen.jar org.pkl.codegen.kotlin.Main
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: templates/entrypoint.template.sh
        output-file: kotlin/entrypoint.sh
        engine: mustache
    - name: Make endpoint.sh executable
      run: chmod +x kotlin/entrypoint.sh
    - name: Lowercase repository name
      env:
        REPOSITORY: ${{ github.repository }}
      run: echo "REPOSITORY_LC=${REPOSITORY,,}" >> ${GITHUB_ENV}
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: https://ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: kotlin
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-kotlin:${{ matrix.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-kotlin:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-kotlin:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-kotlin:${{ matrix.version }}-${{ needs.version.outputs.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-kotlin:${{ matrix.version }}-${{ needs.version.outputs.major }}
    - name: Build and push Docker image
      if: github.ref != 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: kotlin
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-kotlin:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-kotlin:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-kotlin:${{ matrix.version }}-${{ needs.version.outputs.version }}
  build-doc:
    permissions:
      contents: read
      packages: write
    needs:
    - version
    - pkl-versions
    - was-updated-doc
    if: needs.was-updated-doc.outputs.any-changed == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.pkl-versions.outputs.versions)}}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Render build.template.gradle
      env:
        pkl_version: ${{ matrix.version }}
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: doc/project/build.template.gradle
        output-file: doc/project/build.gradle
        engine: mustache
    - name: Render endpoint.sh
      env:
        call: java -cp /pklgen.jar org.pkl.doc.Main
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: templates/entrypoint.template.sh
        output-file: doc/entrypoint.sh
        engine: mustache
    - name: Make endpoint.sh executable
      run: chmod +x doc/entrypoint.sh
    - name: Lowercase repository name
      env:
        REPOSITORY: ${{ github.repository }}
      run: echo "REPOSITORY_LC=${REPOSITORY,,}" >> ${GITHUB_ENV}
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: https://ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: doc
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-doc:${{ matrix.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-doc:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-doc:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-doc:${{ matrix.version }}-${{ needs.version.outputs.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-doc:${{ matrix.version }}-${{ needs.version.outputs.major }}
    - name: Build and push Docker image
      if: github.ref != 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: doc
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-doc:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-doc:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-doc:${{ matrix.version }}-${{ needs.version.outputs.version }}
  build-swift:
    permissions:
      contents: read
      packages: write
    needs:
    - version
    - pkl-versions
    - was-updated-swift
    if: needs.was-updated-swift.outputs.any-changed == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.pkl-versions.outputs.versions)}}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Read swift-tool-version
      run: echo "swift_tool_version=$(cat swift/swift-tool-version)" >> $GITHUB_ENV
    - name: Render setup.template.sh
      env:
        pkl_version: ${{ matrix.version }}
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: swift/setup.template.sh
        output-file: swift/setup.sh
        engine: mustache
    - name: Make setup.sh executable
      run: chmod +x swift/setup.sh
    - name: Render endpoint.sh
      env:
        call: LD_LIBRARY_PATH=/usr/share/swift/usr/lib/swift/linux PATH=$PATH:/usr/share/swift/usr/bin/ /pkl-gen-swift
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: templates/entrypoint.template.sh
        output-file: swift/entrypoint.sh
        engine: mustache
    - name: Make endpoint.sh executable
      run: chmod +x swift/entrypoint.sh
    - name: Lowercase repository name
      env:
        REPOSITORY: ${{ github.repository }}
      run: echo "REPOSITORY_LC=${REPOSITORY,,}" >> ${GITHUB_ENV}
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: https://ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: swift
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-swift:${{ matrix.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-swift:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-swift:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-swift:${{ matrix.version }}-${{ needs.version.outputs.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-swift:${{ matrix.version }}-${{ needs.version.outputs.major }}
    - name: Build and push Docker image
      if: github.ref != 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: swift
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-swift:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-swift:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-swift:${{ matrix.version }}-${{ needs.version.outputs.version }}
  build-go:
    permissions:
      contents: read
      packages: write
    needs:
    - version
    - pkl-versions
    - was-updated-go
    if: needs.was-updated-go.outputs.any-changed == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.pkl-versions.outputs.versions)}}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Read go-tool-version
      run: echo "go_tool_version=$(cat go/go-tool-version)" >> $GITHUB_ENV
    - name: Render template.Dockerfile
      env:
        pkl_version: ${{ matrix.version }}
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: go/template.Dockerfile
        output-file: go/Dockerfile
        engine: mustache
    - name: Render setup.template.sh
      env:
        pkl_version: ${{ matrix.version }}
      uses: emilymclean/template-render-action@v1.0.2
      with:
        template-file: go/setup.template.sh
        output-file: go/setup.sh
        engine: mustache
    - name: Make setup.sh executable
      run: chmod +x go/setup.sh
    - name: Lowercase repository name
      env:
        REPOSITORY: ${{ github.repository }}
      run: echo "REPOSITORY_LC=${REPOSITORY,,}" >> ${GITHUB_ENV}
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: https://ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: go
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-go:${{ matrix.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-go:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-go:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-go:${{ matrix.version }}-${{ needs.version.outputs.version }}
          ghcr.io/${{ env.REPOSITORY_LC }}-go:${{ matrix.version }}-${{ needs.version.outputs.major }}
    - name: Build and push Docker image
      if: github.ref != 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: go
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |-
          ghcr.io/${{ env.REPOSITORY_LC }}-go:${{ matrix.version }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-go:${{ matrix.version }}-${{ needs.version.outputs.major }}-nightly
          ghcr.io/${{ env.REPOSITORY_LC }}-go:${{ matrix.version }}-${{ needs.version.outputs.version }}
  update-pkl-actions:
    needs:
    - build-java
    - build-kotlin
    - build-doc
    - build-swift
    - build-go
    if: github.ref == 'refs/heads/main' && github.repository_owner == 'emilymclean'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
        - pkl-java-action
        - pkl-swift-action
        - pkl-kotlin-action
        - pkldoc-action
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Get current latest supported pkl version
      run: |-
        mapfile -t pklversions < "pkl-versions"
        echo "PKL_VERSION=${pklversions[-1]}" >> $GITHUB_ENV
    - name: Update pkl actions that use these images
      uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: update-pkl.yml
        repo: emilymclean/${{ matrix.repo }}
        token: ${{ secrets.WORKER_PAT }}
        inputs: '{ "pkl-version": "${{ env.PKL_VERSION }}" }'
